uvicorn api.api:app --reload
gcloud config set project wagon-data-1091
docker build -t eu.gcr.io/wagon-data-1091/ml-case-study .
docker run -e PORT=8000 -p 8000:8000 eu.gcr.io/wagon-data-1091/ml-case-study 
docker ps
docker stop running_container_of_image
docker push eu.gcr.io/wagon-data-1091/ml-case-study  
gcloud run deploy --image eu.gcr.io/wagon-data-1091/ml-case-study:latest --memory 2Gi --region europe-west1
streamlit run app.py

In [1]:
import os
import pandas as pd
import numpy as np

from sklearn.linear_model import LogisticRegression
#import matplotlib.pyplot as plt 
#from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_validate
#import seaborn as sns
#import numpy as np
from sklearn.model_selection import learning_curve
from sklearn.model_selection import train_test_split

import pickle

In [2]:
os.getcwd()

'/home/chibidao/code/ChiiDao/20221220-MLOPS_exercise'

In [3]:
data_path = os.path.join("data", "dataset_2.csv")
data = pd.read_csv(data_path, sep=";", low_memory=False)
data.head()

,uuid,default,account_amount_added_12_24m,account_days_in_dc_12_24m,account_days_in_rem_12_24m,account_days_in_term_12_24m,account_incoming_debt_vs_paid_0_24m,account_status,account_worst_status_0_3m,account_worst_status_12_24m,...,status_3rd_last_archived_0_24m,status_max_archived_0_6_months,status_max_archived_0_12_months,status_max_archived_0_24_months,recovery_debt,sum_capital_paid_account_0_12m,sum_capital_paid_account_12_24m,sum_paid_inv_0_12m,time_hours,worst_status_active_inv
0,63f69b2c-8b1c-4740-b78d-52ed9a4515ac,0.0,0,0.0,0.0,0.0,0,1.0,1.0,NaN,...,1,1,1,1,0,0,0,178839,9.653333,1.0
1,0e961183-8c15-4470-9a5e-07a1bd207661,0.0,0,0.0,0.0,0.0,NaN,1.0,1.0,1.0,...,1,1,2,2,0,0,0,49014,13.181389,NaN
2,d8edaae6-4368-44e0-941e-8328f203e64e,0.0,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,1,1,2,2,0,0,0,124839,11.561944,1.0
3,0095dfb6-a886-4e2a-b056-15ef45fdb0ef,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,1,1,1,0,0,0,324676,15.751111,1.0
4,c8f8b835-5647-4506-bf15-49105d8af30b,0.0,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,0,1,1,1,0,0,0,7100,12.698611,NaN

In [4]:
data.shape

(99976, 43)

In [5]:
data.keys()

Index(['uuid', 'default', 'account_amount_added_12_24m',
       'account_days_in_dc_12_24m', 'account_days_in_rem_12_24m',
       'account_days_in_term_12_24m', 'account_incoming_debt_vs_paid_0_24m',
       'account_status', 'account_worst_status_0_3m',
       'account_worst_status_12_24m', 'account_worst_status_3_6m',
       'account_worst_status_6_12m', 'age', 'avg_payment_span_0_12m',
       'avg_payment_span_0_3m', 'merchant_category', 'merchant_group',
       'has_paid', 'max_paid_inv_0_12m', 'max_paid_inv_0_24m', 'name_in_email',
       'num_active_div_by_paid_inv_0_12m', 'num_active_inv',
       'num_arch_dc_0_12m', 'num_arch_dc_12_24m', 'num_arch_ok_0_12m',
       'num_arch_ok_12_24m', 'num_arch_rem_0_12m',
       'num_arch_written_off_0_12m', 'num_arch_written_off_12_24m',
       'num_unpaid_bills', 'status_last_archived_0_24m',
       'status_2nd_last_archived_0_24m', 'status_3rd_last_archived_0_24m',
       'status_max_archived_0_6_months', 'status_max_archived_0_12_months',
       'status_max_archived_0_24_months', 'recovery_debt',
       'sum_capital_paid_account_0_12m', 'sum_capital_paid_account_12_24m',
       'sum_paid_inv_0_12m', 'time_hours', 'worst_status_active_inv'],
      dtype='object')

In [6]:
data['default'].value_counts()

0.0    88688
1.0     1288
Name: default, dtype: int64

In [7]:
data_reduced = data[['uuid','sum_paid_inv_0_12m', 'time_hours','default']].dropna()
data_reduced.shape

(89976, 4)

In [8]:
X = data_reduced[['sum_paid_inv_0_12m', 'time_hours']]
y = data_reduced['default']

In [9]:
data_reduced.dtypes

uuid                   object
sum_paid_inv_0_12m      int64
time_hours            float64
default               float64
dtype: object

In [10]:
y.value_counts()

0.0    88688
1.0     1288
Name: default, dtype: int64

In [11]:
model = LogisticRegression()

# 10-Fold Cross validate model
cv_results = cross_validate(model, X, y, cv=10)

In [12]:
accuracy = cv_results['test_score'].mean()
accuracy

0.9856850730145087

In [13]:
# # create the training size slices
# train_sizes = np.linspace(1000, 71980, 10000, dtype='int')

# # Get train scores, train sizes, and validation scores using `learning_curve`, r2 score
# train_sizes, train_scores, test_scores = learning_curve(estimator = LogisticRegression(),
#                                                               X = X, 
#                                                               y = y, 
#                                                               train_sizes = train_sizes, 
#                                                               cv = 5)

# # Take the mean of cross-validated train scores and validation scores
# train_scores_mean = np.mean(train_scores, axis=1)
# test_scores_mean = np.mean(test_scores, axis=1)

# # Plot the learning curves!
# plt.figure(figsize=(10,6))
# plt.plot(train_sizes, train_scores_mean, label = 'training score')
# plt.plot(train_sizes, test_scores_mean, label = 'test score')
# plt.ylabel('r2 score', fontsize = 14)
# plt.xlabel('Training set size', fontsize = 14)
# plt.title('Learning curves', fontsize = 18, y = 1.03)
# plt.legend();

In [14]:
#Training model
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)
model.fit(X_train, y_train)

model.predict(X_test)

array([0., 0., 0., ..., 0., 0., 0.])

In [15]:
#Saving the model to disk
filename = 'model/model.sav'
pickle.dump(model, open(filename, 'wb'))

In [16]:
# load the model from disk
filename = 'model/model.sav'
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(X_test, y_test)
print(result)

0.9858852295039454

In [17]:
X_test.head()

       sum_paid_inv_0_12m  time_hours
19823               92027   20.267500
24159               16225   16.892222
50058                   0    8.377222
55349                   0   10.940278
42373                6580   16.805556

In [18]:
y_pred = loaded_model.predict(X_test)
np.unique(y_pred, return_counts=True)

(array([0.]), array([26993]))

In [19]:
y_train_pred = loaded_model.predict(X_train)
np.unique(y_train_pred, return_counts=True)

(array([0.]), array([62983]))

In [20]:
y_pred_proba = loaded_model.predict_proba(X_test[0:1])
y_pred_proba #The probability for row 0 to be equal to 1

array([[9.99932056e-01, 6.79436281e-05]])